<!DOCTYPE html>

<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122840650-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-122840650-1');
    </script>

    <title>라퀴공 기출문제 - 왕야옹</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" charset="utf-8" />
    <meta name="description" content="라퀴공 기출문제 연습 페이지입니다. 여러 퀴즈쇼의 기출문제들을 풀어보아요"/>
    <meta property="og:type" content="website">
    <meta property="og:title" content="라퀴공 기출문제">
    <meta property="og:description" content="라퀴공 기출문제 연습 페이지입니다. 여러 퀴즈쇼의 기출문제들을 풀어보아요">
    <meta property="og:image" content="http://jamlive.net/images/main_icon.png">
    <meta property="og:url" content="http://jamlive.net">

    <meta charset="utf-8">
    <title>Test App</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://csshake.surge.sh/csshake-slow.min.css">
</head>

<script src="/socket.io/socket.io.js"></script>
<body>
<div id="app"></div>
<script src="/main.js">
</script>
</body>
</html>